* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-size: 13px;
  font-family: "CaskaydiaCove NF";
}

.testing {
}

.simple-revealer {
  padding: 10px;
}

.monitor {
  padding-left: 17px;
  border-radius: 15px;
}
.monitor-long {
  padding-left: 42px;
  border-radius: 15px;
}
.monitor-none {
  background-color: #5c5c5c;
}
.monitor-0 {
  background-color: #fe7ff7;
}
.monitor-1 {
  background-color: #b8fcf6;
}
.monitor-2 {
  background-color: #fffdf4;
}


.bg-monitor {
  padding: 10px;
  color: #000000;
}
.bg-monitor-0 {
  background-color: #fe7ff7;
}
.bg-monitor-1 {
  background-color: #b8fcf6;
}
.bg-monitor-2 {
  background-color: #fffdf4;
}

.workspace-button {
  border-radius: 2px;
  background-color: #401160;
  margin: 0px;
  padding: 0px;
}

.center {
  padding-right: 40px;
  padding-left: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

// bar color
.normal {
  color: #bbff00;
  background-color: #303030;
  border-radius: 10px;
}
.trace {
  color: #f6ff00;
  background-color: #303030;
  border-radius: 10px;
}
.warning {
  color: #ff8800;
  background-color: #303030;
  border-radius: 20px;
}
.error {
  color: #D35D6E;
  background-color: #303030;
  border-radius: 10px;
}

.bar {
  background-color: #272727;
  border-image-source: linear-gradient(
    to bottom right,
    #fe7ef2,
    #a8e2f2,
  );
  border-image-slice: 1;
  // border-color:  #fe7ef2 #a8e2f2 ;
  border-style: solid;
  border-width: 2.5px;
  border-radius: 10px;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.rcorners {
  background-color: #2727270;
  border-image-source: linear-gradient(
    to bottom right,
    #fe7ef2,
    #a8e2f2,
  );
  border-image-slice: 1;
  // border-color:  #fe7ef2 #a8e2f2 ;
  border-style: solid;
  border-width: 2.5px;
  border-radius: 10px;
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 7px
}
